{% extends 'base.html' %}

{% block title %}
    ★ My Tasks
{% endblock title %}
{% load static %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if list %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in list %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.start_date|date:"M d, Y" }}</td>
                                <td>{{ item.due_date|date:"M d, Y" }}</td>
                                <td>{{ item.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
