{% extends 'base.html' %}

{% block title %}
    ★ Project Details
{% endblock title %}
{% load static %}

{% block content %}
    <main>
        <div>
            <h1>{{ list.name }}</h1>
            <p>{{ list.description }}</p>
            <h2>Tasks</h2>
            <a href="{% url 'create_task' %}">Create a new task</a>
            {% if list.tasks.all %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in list.tasks.all %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.assignee }}</td>
                                <td>{{ item.start_date|date:"M d, Y" }}</td>
                                <td>{{ item.due_date|date:"M d, Y" }}</td>
                                <td>{{ item.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
